<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <h2 class="display-4">
    {{provider.name}}
  </h2>
  <p class="lead">Электронная почта: {{provider.email}}</p>
  <p class="lead">Телефон: {{provider.phone}}</p>
  <p class="lead">Сайт: {{provider.site}}</p>
  <p class="lead">Адрес: {{provider.address}}</p>
</div>
<div class="pricing-header py-5 px-3 pb-md-4 mx-auto">
  <h2 class="display-4">Заказы</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Данные</th>
      <th scope="col">Цена</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let service of services">
    <td>{{service.name}}</td>
    <td>{{service.details}}</td>
    <td>{{service.price}}</td>
    </tr>
    </tbody>
  </table>
</div>
