<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <h2 class="display-4">О нас</h2>
  <p class="lead">Не можете определиться, где провести корпоратив,
    какого ведущего позвать на свадьбу или кто сделает наилучшие
    памятные фотографии Вашего дня рождения?
    Этот сайт поможет Вам максимально быстро организовать мероприятие
    любой сложности не выходя за рамки Вашего бюджета  и учитывая все
    Ваши пожелания за несколько минут!</p>
  <div class="d-flex justify-content-center">
    <img class="go " src="assets/1.jpg"/>
  </div>
  <button routerLink="assistant" type="button" class="btn btn-lg btn-block btn-outline-primary">
    Поехали
  </button>

</div>
