<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <h2 class="display-4">О нас</h2>
  <p class="lead">Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.
    Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.
    Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.
    Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.Мы няшки.</p>
  <button routerLink="add" type="button" class="btn btn-lg btn-block btn-outline-primary">
    Поехали
  </button>

</div>
