<div [ngClass]="{open: helperOpen}"
     class=" helper pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Действие</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Корпоратив</option>
        <option>День рождения</option>
        <option>Выпускной</option>
        <option>Свадьба</option>
        <option>Детский праздник</option>
      </select>
    </div>
    <div class="form-group">
      <label >Выберите количество гостей</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group">
      <label >Выберите дату</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group">
      <label >Введите предполагаемый бюджет</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group">
      <label >Пожелания</label>
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button (click)="openHelperResult()" type="submit" class="btn btn-lg btn-block btn-outline-primary">
      Результат
    </button>
  </form>
</div>
<div [ngClass]="{open: helperResultOpen}" class="helper-result">
  <app-helper-result [result]="result"></app-helper-result>
</div>

