<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto" xmlns="http://www.w3.org/1999/html">
  <form>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Действие</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Корпоратив</option>
        <option>День рождения</option>
        <option>Выпускной</option>
        <option>Свадьба</option>
        <option>Детский праздник</option>
      </select>
    </div>
    <div class="form-group">
      <label >Выберите количество гостей</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group">
      <label >Выберите дату</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group">
      <label >Введите предполагаемый бюджет</label>
      <input type="number" class="form-control">
    </div>
    <div class="form-group">
      <label >Пожелания</label>
      <input type="text" class="form-control">
    </div>
    <button routerLink="/.." type="submit" class="btn btn-lg btn-block btn-outline-primary">
      Результат
    </button>
  </form>
</div>
