<div class="pricing-header py-5 px-3 pb-md-4 mx-auto">
  <h4>
    Выбранные услуги:
  </h4>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Данные</th>
      <th scope="col">Цена</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basket?.items">
      <td>{{item?.name}}</td>
      <td>{{item?.details}}</td>
      <td>{{item?.price}}</td>
      <td>
        <button (click)="delItem(item?.id)" style="float: right">X</button>
      </td>
    </tr>
    </tbody>
    <p>Сумма: {{serviceSum()}}</p>
  </table>
  <h4>
    Данные заказа:
  </h4>
  <form [formGroup]="order">
    <div class="form-group">
      <label>Дата:</label>
      <input type="datetime-local" class="form-control" formControlName="time">
    </div>
    <div class="form-group">
      <label>Пожелание:</label>
      <textarea type="text" class="form-control" formControlName="wishes">
      </textarea>
    </div>
  </form>
  <button (click)="orderSend()" type="button" class="btn btn-lg btn-block btn-outline-primary">Заказать</button>
</div>
