<div class="pricing-header py-5 px-3 pb-md-4 mx-auto">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">№</th>
      <th scope="col">Название</th>
      <th scope="col">Данные</th>
      <th scope="col">Цена</th>
      <th scope="col"> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of basket?.items">
      <th scope="row">{{itemNumber()}}</th>
      <td>{{item.name}}</td>
      <td>{{item.name}}</td>
      <td>{{item.data}}</td>
      <td>{{item.price}}</td>
      <td>
        <button (click)="delItem(item.id)" style="float: right">X</button>
      </td>
    </tr>
    </tbody>
  </table>
  <button (click)="orderSend()" routerLink="/" type="button" class="btn btn-lg btn-block btn-outline-primary">Заказать</button>
</div>
