<div [ngClass]="{open: helperOpen}"
     class=" helper pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <form>
    <div class="form-group">
      <label >Имя</label>
      <input type="text" class="form-control">
    </div>
    <div class="form-group">
      <label >Электронная почта</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group">
      <label >Телефон</label>
      <input type="number" class="form-control">
    </div>
    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">
      Сохранить
    </button>
  </form>
</div>
