<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" routerLink="/">Triunfo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="services">Услуги</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="assistant">Помощник</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
        <a [ngClass]="{open: isProvider()}"
           class="nav-link shadow"
           routerLink="my-services">Мои услуги</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a [ngClass]="{open: isClient()}"
             class="nav-link shadow"
             routerLink="basket">Корзина</a>
        </li>

        <li routerLinkActive="active" class="nav-item">
          <a [ngClass]="{open: isLogin()}"
             class="nav-link shadow"
             routerLink="personal">Личный кабинет</a>
        </li>
      </ul>
      <p class="text-light username shadow"
         [ngClass]="{open: isLogin()}">{{username}}</p>
      <a [ngClass]="{shadow: isLogin()}" class="btn btn-primary" routerLink="/login">Войти</a>
      <a [ngClass]="{open: isLogin()}" class="btn btn-primary shadow" (click)="logout()" routerLink="/login">Выйти</a>
    </div>
  </nav>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer class="border-top bg-secondary">
  Nestrugina Ekaterina &copy;
</footer>

