<div class="navbar-fixed d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">Triunfo</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/">Главная</a>
    <a class="p-2 text-dark" routerLink="services">Услуги</a>
    <a class="p-2 text-dark" routerLink="assistant">Помощник</a>
    <a class="p-2 text-dark" routerLink="basket">Корзина</a>
  </nav>
  <a class="btn btn-outline-primary"routerLink="/login">Войти</a>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<footer class="border-top bg-secondary">
  Nestrugina Ekaterina &copy;
</footer>

