<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <h2 class="display-4">
    {{user.name}}
    <!--<button routerLink="edit" type="button" class="btn btn-outline-primary">Ред.</button>-->
  </h2>
  <p class="lead">Роль: {{roleStr()}}</p>
  <p class="lead">Электронная почта: {{user.email}}</p>
  <p class="lead">Телефон: {{user.phone}}</p>
  <p class="lead hidden"
     [ngClass]="{open: isProvider()}">
    Рейтинг: {{user.rate}}
  </p>
  <p class="lead hidden"
     [ngClass]="{open: isProvider()}">
    Сайт: {{user.site}}
  </p>
  <p class="lead hidden"
     [ngClass]="{open: isProvider()}">
    Адрес: {{user.address}}
  </p>

</div>
<div class="pricing-header py-5 px-3 pb-md-4 mx-auto">
  <h2>Заказы</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Номер</th>
      <th scope="col">Пожелания</th>
      <th scope="col">Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr class="сlickable"
        *ngFor="let order of orders"
        routerLink="/order/{{order.id}}">
      <td>{{order.id}}</td>
      <td>{{order.wishes}}</td>
      <td>{{order.time | dateFormat: 'fullDate'}}</td>
    </tr>
    </tbody>
  </table>
</div>
